.upperButtonsBox {
    display: flex;
    justify-content: end;
}

.userButtons {
    height: 20px;
    background-color: #007bff;
    height: 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    color: white;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.2rem;
}

@media (max-width: 1600px) {
    .userName {
        margin-left: 10%;
    }

    .userEmail {
        margin-left: 10%;
    }
}


@media (min-width: 1600px) {
    .userName {
        margin-left: 20%;
    }

    .userEmail {
        margin-left: 20%;
    }
}


.userName {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}


.userEmail {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}
