.alertforOldPass{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid rgb(228, 51, 51);
    color: red;
    border-radius: 5px;
    font-size: 1.3rem;
    padding-top: 4px;
    padding-bottom: 4px;
}



@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: red;
    }

    100% {
        border-color: transparent;
    }
}

.blinking-border {
    animation: blink 0.3s ease;

}