<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

    <div class="uppercontainer">
        <ul class="nav justify-content-end fixedWidthContainer">


            <li class="nav-item">
                <button type="button" class="btn btn-primary" id="readblogbutton">Read or Create
                    Blog</button>
            </li>
            <li class="nav-item">
                <a class="nav-link loginandsignup" id="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link loginandsignup" id="signup" href="/signupPage">Signup</a>
            </li>
        </ul>
    </div>
    <!-- <div class="lowercontainer">
        <div class="card mb-3" style="max-width: 540px; background-color: rgb(248, 237, 222); border: none;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">Read or Create Blogs</h1>
                        <p class="card-text">
                        </p>
                        <button type="button" class="btn btn-primary" id="readblogbutton">Read or Create
                            Blog</button>
                    </div>
                </div>

            </div>

        </div>
    </div> -->



    <script>
        document.getElementById("login").addEventListener("click", function () {
            window.location.replace("/loginPage");
        });


        let redirecting = localStorage.getItem('tokendata');
        if (redirecting) {
            window.location.replace('/loggeduserPage');
        }


        const readblog = document.getElementById('readblogbutton');
        readblog.addEventListener("click", function () {
            window.location.href = "/blogPage";
        });
    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>




</body>

</html>